*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    color: #fff;
    font-family: Arial, sans-serif;
    background-color: rgb(32, 33, 36);
}
header {
    display: flex;
    background-color: rgb(32, 33, 36);
    width: 100%;
    height: 3.5rem;
    align-items: center;
    justify-content: flex-end;
}

main{
    display: flex;
    width: 100%;
    height: 49.3rem;
    align-items: center;
    justify-content:center;
}

.navbar{
    width: 100%;
   
}

.navbar .navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-right: 2rem;
    padding: 0;
 }

.navbar-brand{
    background-color:transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    
}
.navbar-brand:hover{
    text-decoration:underline;

}

.img-apps{
    width: 2rem;
    
 }

 .img-apps:hover{
   background-color: #393434;
   border-radius: 1rem;
   
 }

.img-contact{
    border: 4px solid red;
    display: block;
    border-radius: 2rem;
    border-top: 1px solid red;
    border-bottom: 1px solid blue;
    border-left: 1px solid yellow;
    border-right: 1px solid rgb(103, 33, 138);
    width: 2.5rem;
    height: auto;
    top: 1rem;
    transition: 0.3s;
 
}

.img-contact:hover{
    transform: scale(1.1);  
}

.container-google{
    margin-bottom: 8rem;
}

.google{
    margin: 1rem;
    font-size: 3.3rem;
    text-align: center;
   
}
.busqueda{
    border: 1px solid #fff;
    height: 2.5rem;
    width: 35rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    
}

.busqueda input{
    font-size: 1rem;
    margin: .5rem  ;
    width:28rem ;
    padding: .1rem;
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}


.icons{
    width: 1.3rem; 
    margin-left: .4rem;
   
}

.suerte{
    text-align: center;
    margin: 1rem;
    
}
.button-search:hover{
    outline: 1px solid #fff;
}

.suerte button{
    cursor: pointer;
    background-color: #303134;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: #fff;
    gap: 1rem   ;
}

.ForGoogle{
    text-align: center;
    margin-top: 2rem;
}

.ForGoogle-l{
    text-decoration: none;
    color: inherit;
    color: #3232e9;
}

p{
    margin-left: 1rem;
}

.container-colombia{
    display: flex;
    height: 2.5rem;
    align-items: center;
    
}
.container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #3c4043;
    
}

.section1{
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.container a:hover{
    text-decoration: underline;
}

.section1 li{
    margin: 1rem;
}
a{
    text-decoration: none;
    color: inherit;
}

.container-footer{
    background-color: #1c1d1c;
    height: 6rem;
}



















  
  
  